* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: DINnext, matterhorn, helvetica, sans-serif;
  color: white;
  list-style: none;
  text-decoration: none;
}

body {
  /* background-color: black; */
  width: 100%;
  background-image: url(./assets/images/background-stars-desktop_v2_96b6d74a.jpeg);
  object-fit: cover;
  background-position: center;
}

header {
  background-color: black;
  height: 150px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: solid 1px rgb(173, 169, 169);
}

h1 {
  display: none;
}

#menu {
  display: none;
}

#logo {
  width: 150px;
  margin-bottom: 30px;
}

#logo2 {
  display: none;
}

header > nav {
  display: flex;
}

#cabecera {
  display: flex;
}

#cabecera li {
  padding: 0px 30px;
  list-style: none;
}

#cabecera a {
  color: rgb(173, 169, 169);
  font-size: 15px;
}

@media (max-width: 1110px) {
  header {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  #logo {
    display: none;
  }
  #logo2 {
    display: flex;
    width: 275px;
    margin: auto;
  }
  #menu {
    display: flex;
    width: 36px;
  }
  header > nav {
    display: none;
  }
}

main {
  margin: 0px 0px;
}

#estreno {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#estreno > span {
  color: rgb(255, 255, 255);
  font-size: 12px;
}
#item1 {
  margin: auto;
  max-width: 1600px;
}
#divPrincipal {
  
  position: relative;
  width: 100%;
  height: auto;
}

#divBack {
  width: 100%;
  position: absolute;
}

#divBack > img {
  width: 100%;
}

#front {
  position: absolute;
  top: 15%;
  left: 30px;
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#front img {
  width: 100%;
  height: auto;
  padding: 20px;
}

#front p {
  margin: 0px;
  padding: 20px;
}

#botones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.button1 {
  border: solid 1px rgb(255, 217, 0);
  background-color: rgb(255, 217, 0);
  border-radius: 60px;
  width: 175px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button1 > a {
  color: black;
}

.button2 {
  border: solid 1px rgb(255, 217, 0);
  background-color: rgb(0, 0, 0);
  border-radius: 60px;
  width: 175px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#front2 {
  display: none;
}

@media (max-width: 1160px) {
  h1 {
    display: block;
  }
  #front {
    position: relative;
    width: 100%;
    padding: 20px;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    left: 0px;
  }
  #front img {
    display: none;
  }
}


/* 
@media (max-width: 690px) {
  .button1 {
    display: none;
  }
  .button2 {
    display: none;
  }
  #p_description {
    display: none;
  } */
  /*#front2 {
    display: flex;
    flex-direction: column;
  } */
}

/* /* #divFront {
  top: 320px;
  position: absolute;
  border: solid 3px red;
  margin: 0px 60px;
  display: flex;
  flex-direction: column;
  
} */
/* 
#divFront > img{
  
} */
